
@import '../../styles.scss';

img {
  width: 100%;
}

body {
  background-color: beige;
}

.backHome {
  color: black;
  background-color: aqua;
}

.ingredient {
  border: solid brown 1px;
}